
# editor/IDE settings
*.vscode

# output and test files
/output
/test_script/testes/*
/test_script/trab

# build files and other files
**/.DS_Store
*.class
*.jar
*.csv
*.pdf


# not ignore input test files
!/input
!/test_script/testes/serra
